@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #171717;
  --color-foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #ededed;
    --color-foreground: #0a0a0a;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: "Sora", sans-serif;
}
#image {
  position: relative;
  background-image: url("/homebanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  width: 100%;
  /* padding-top: 150px; */
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 30px;
  color: white; /* Optional: makes text visible */
  z-index: 1;
  overflow: hidden;
}

#image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.719); /* controls the darkness */
  z-index: 0;
}

/* To make sure your text appears above the overlay */
#image > * {
  position: relative;
  z-index: 1;
}
/* globals.css */
body {
  @apply bg-white text-gray-900;
  /* transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95); */
}

.dark body {
  @apply bg-gray-900 text-gray-100;
  /* transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95); */
}
